<h2>User Details</h2>
<form action="/edit" method="post">
  <input type="hidden" value = "put" name = "_method">

  <p>Name : <input type="text" name="name" value="<%= current_user.name %>"></p>

  <p>Age : <input type="text" name="age" value="<%= current_user.age %>"></p>

  <p>Weight(in kgs) : <input type="text" name="weight" value="<%= current_user.weight %>"></p>

  <p>Height(in cms) : <input type="text" name="height" value="<%= current_user.height %>"></p>

  <p>Gender :
  <% if current_user.gender == 'Male' %>
  <input type="radio" name="gender" value="Male" checked>Male
  <input type="radio" name="gender" value="Female">Female
  <% else %>
  <input type="radio" name="gender" value="Male">Male
  <input type="radio" name="gender" value="Female" checked>Female
  <% end %>
  </p>

  <button>Save</button>
</form>
