<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shake It Off</title>


  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href='https://fonts.googleapis.com/css?family=Martel+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui.structure.min.css">

  <script src = '/javascripts/jquery-2.2.3.min.js'></script>
  <script src="/javascripts/jquery-ui.min.js"></script>



</head>
<body>
  <div class = "navbar">
    <h2 ><a href="/">Shake It Off!</a></h2>

    <% if logged_in? %>
    <div id="username">logged in as <%= current_user.name %></div>
    <form action="/" method="post" id="logout">
      <input type="hidden" value = "delete" name = "_method">
      <button id="logout-btn">logout</button>
    </form>
    <% end %>
  </div>
    <div class="main_container">


  <%= yield %>
</div>
</body>
