<form action="/" method="post" class="login">
  <p>
  <label for="">Email</label>
  <input type="text" name="email" class="textbox">
  </p>
  <p>
  <label for="">Password</label>
  <input type="password" name="password" class="textbox">
  </p>
  <button>login</button>
</form>

<p> Not a User?
<a href="/signup" id="signup">Sign up here!</a>
</p>
