<h2>Sign Up</h2>

<form action="/signup" method="post">
  <p><label for="">Email</label>
  <input type="text" name="email"></p>

  <p><label for="">Password</label>
  <input type="password" name="password"></p>

  <p><label for="">Name</label>
  <input type="text" name="name"></p>

  <p><label for="">Age</label>
  <input type="text" name="age"></p>

  <p><label for="">Weight(in kgs)</label>
  <input type="text" name="weight"></p>

  <p><label for="">Height(in cms)</label>
  <input type="text" name="height"></p>

  <p><label for="">Gender</label>
  <input type="radio" name="gender" value="Male">Male
  <input type="radio" name="gender" value="Female">Female</p>



  <button>Sign Up</button>
</form>
