<h2>Sign Up</h2>

<form action="/signup" method="post">
  <p><label for="">Email</label>
  <input type="text" name="email" class="textbox"></p>

  <p><label for="">Password</label>
  <input type="password" name="password" class="textbox"></p>

  <p><label for="">Name</label>
  <input type="text" name="name" class="textbox"></p>

  <p><label for="">Age</label>
  <input type="text" name="age" class="textbox"></p>

  <p><label for="">Weight(in kgs)</label>
  <input type="text" name="weight" class="textbox"></p>

  <p><label for="">Height(in cms)</label>
  <input type="text" name="height" class="textbox"></p>

  <p><label for="">Gender</label>
  <input type="radio" name="gender" value="Male"><span>Male</span>
  <input type="radio" name="gender" value="Female"><span>Female</span></p>



  <button>Sign Up</button>
</form>
